body {
  font-family: sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

ul {
  padding-left: 1.2rem;
}

li {
  margin-bottom: 0.5rem;
}

input, textarea {
  width: 100%;
  margin-bottom: 0.5rem;
}
